<!DOCTYPE html>
<html lang="en">

<!-- Head tag -->
<%- partial('_partial/head') %>
<!-- hack iOS CSS :active style -->

<body ontouchstart="">

<!-- Main Content -->
<div class="container">
    <!-- Profile Container -->
    <div class="row">
    <div class="col-lg-12 col-md-12 profile-container">

    <!-- Top padding -->
    <br>

    <table class="profile-header">
        <tr>
            <td rowspan="6" style="width: 25%;">
                <img src="../img/avatar_2020.jpg" alt="avatar" style="width: 200px;" />
            </td>
        </tr>
        <tr>
            <td><span style="font-size: 2em;">Nguyễn Xuân Tài (Tài)</span></td>
        </tr>
        <tr>
            <td>Blog: <a href="http://xuantain.github.io">xuantain.github.io</a></td>
        </tr>
        <tr>
            <td>Github: <a href="https://github.com/xuantain">github.com/xuantain</a></td>
        </tr>
        <tr>
            <td>Email: <a href="mailto:xuantain@gmail.com">xuantain@gmail.com</a></td>
        </tr>
        <tr>
            <td>Phone: (+84) 795751424</td>
        </tr>
    </table>

    <hr>

    <table class="profile-header">
        <tr>
            <td style="width: 25%;"><span style="font-size:1.6em; font-weight:700;">Profile</span></td>
            <td>
                <span> - Multiple years of App and Web App programming (PHP, JS, MYSQL, CouchDB). Profound understanding of JavaScript. </span>
                <br>
                <span> - I have developed and maintained systems with open source technologies using Symfony, AngularJs, VueJs, ReactJs, Ionic. </span>
                <br>
                <span> - I also have working experience with Rabbitmq, Docker, Gitlab, GNU/Linux, TypeScript, NodeJS, GruntJs/GulpJs, Sass, BEM methodology. </span>
                <br>
                <span> - I am passionate about the technologies, problem solving and writing clean code. </span>
            </td>
        </tr>
    </table>

    <hr>

    <table class="profile-header">
        <tr>
            <td style="width: 25%;"><span style="font-size:1.6em; font-weight:700;">Professional Summary</span></td>
            <td>
                <span> - 8+ years working as software developer. Strong skills in Symfony and AngularJS/VueJs. Solid understanding PHP, JavaScript, HTML/CSS. </span>
                <br>
                <span> - 5+ years working with AngularJS, VueJs and TypeScrip, CouchDB/PouchDB. </span>
                <br>
                <span> - 4+ years working with Symfony, MySQL, Rabbitmq, Docker. </span>
                <br>
                <span> - 4+ years working with responsive design and grid framework Bootstrap 3, CSS pre-processor including SASS. </span>
                <br>
                <span> - Interested to learn more on some topics: AI and Machine Learning, Blockchain, Deno with Oak, new JS frameworks. </span>
            </td>
        </tr>
    </table>

    <hr>

    <table class="profile-header">
        <tr>
            <td rowspan="6" style="width: 25%;"><span style="font-size:1.6em; font-weight:700;">Experience</span></td>
        </tr>
        <tr>
            <td style="position: relative;">
                <span style="font-size:1.3em; font-weight:700;">Pivot88 Solution</span><br>
                <span style="font-size:1.1em; font-weight:700;">App/Web-App Developer</span><br>
                <span style="position: absolute; right: 15px; top: 10px;">Mar 2017 - Now</span>
                <span> I have been developing and maintaining a SAAS system that includes hybric mobile apps and web apps. 
                    <br>  I also support to the clients in VietNam, set up devices and support solving problem for the client's factories. </span>
            </td>
        </tr>
        <tr>
            <td style="position: relative;">
                <hr>
                <span style="font-size:1.3em; font-weight:700;">SmartDev LLC</span><br>
                <span style="font-size:1.1em; font-weight:700;">Javascript Developer</span><br>
                <span style="position: absolute; right: 15px; top: 50px;">Jan 2016 - Feb 2017</span>
                <span> I have joined the team to develop mobile apps, web apps for the customer, Pivot88 company, which comes from Canada by using Cordova, Ionic & Symphony. 
                    <br> I have been maintaining the old application is used in factories to control the quality, and developing another new application to improve performance and UX. </span>
            </td>
        </tr>
        <tr>
            <td style="position: relative;">
                <hr>
                <span style="font-size:1.3em; font-weight:700;">Freelancer</span><br>
                <span style="position: absolute; right: 15px; top: 40px;">May 2015 - Jan 2016</span>
                <span> Some projects such as website, web ​app, mobile app. I have used Wordpress, AngularJS, Ionic, Bootstrap
                    3, with MySQL & CouchDB/PouchDB to develop Back​ end and Front ​end. </span>
            </td>
        </tr>
        <tr>
            <td style="position: relative;">
                <hr>
                <span style="font-size:1.3em; font-weight:700;">FPT Software</span><br>
                <span style="font-size:1.1em; font-weight:700;">Java Developer</span><br>
                <span style="position: absolute; right: 15px; top: 50px;">May 2014 - Apr 2015</span>
                <span> Joining development and maintaining software for Japan Customers. Human Resource Management System was
                    built by the Spring/Structs frameworks with Java build tool Ant, database SQL Server & Oracle. The primary
                    job when joining the project was creating detailed design documents, program checklist, test cases, and
                    coding. Developing and maintaining the system with high-performance requirements and also keeping everything
                    work well. </span>
            </td>
        </tr>
        <tr>
            <td style="position: relative;">
                <hr>
                <span style="font-size:1.3em; font-weight:700;">RMS Technology JSC</span><br>
                <span style="font-size:1.1em; font-weight:700;">.NET Developer</span><br>
                <span style="position: absolute; right: 15px; top: 50px;">Jul 2013 - Feb 2014</span>
                <span> Joining development, coding, and refactoring the project. Provisioning of Supply Chain Management
                    Integrated Database (SCM Cloud) & Tender Paper Writer for Petronas Carigali Sdn Bhd. The primary job when
                    joining the project was building the features based according to SRS, building controlling components,
                    structuring UI for the software manage to bid for Petronas company from Malaysia. We had been developing by
                    using MVC3, SQL Server, Dev ​Express, and Adwords. </span>
            </td>
        </tr>
    </table>

    <hr>

    <table class="profile-header">
        <tr>
            <td style="width: 25%;"><span style="font-size:1.6em; font-weight:700;">Education</span></td>
            <td>
                <span style="font-size:1.3em; font-weight:700;">DuyTan University - DaNang, VietNam</span>
                <span style="font-size:1.1em; font-weight:700;">Information Technology Major</span>
            </td>
        </tr>
    </table>

    <p style="text-align: center;">Nguyễn Xuân Tài - xuantain@gmail.com - (+84) 795751424 </p>

    </div>
    </div>
    <!-- END Profile Container -->
</div>
<!-- END Main Content -->

</body>

</html>